---
layout: default
---
<div class="container docs-container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar hidden-print" role="complementary">
                {% include about.html %}
            </div>
        </div>
        <div class="col-md-9" role="main">
            <div class="panel docs-content">
                <div class="wrapper">
                    <header class="post-header">
                        <h1 class="post-title">{{ page.title }}</h1><hr/>
                    </header>
                    <script src="/styles/js/clipboard.min.js"></script>
                    <article class="post-content">
                        {{ content }}
                    </article>
                    <script>
                        var clipboard = new Clipboard('.share-clipboard');
                        clipboard.on('success', function(e) {
                            alert('(＾Ｕ＾)ノ~ＹＯ 该效果地址已复制到剪切板！๑乛◡乛๑')
                        });
                        clipboard.on('error', function(e) {
                            alert('Sorry，复制链接失败！您还可以手动操作分享 ( ˃᷄˶˶̫˶˂᷅ )')
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>